<a href="#" class="pull-left navbar-toggle" {{action "toggle"}}>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>

<nav class="menu">
  {{#link-to "about"}}About{{/link-to}}
  {{#link-to "index" (query-params page=1)}}Home{{/link-to}}
  {{#link-to "feeds"}}Feeds{{/link-to}}

  {{#if user}}
    <a href="#" {{action "signout"}}>Sign out</a>
  {{else}}
    {{#link-to "signup"}}Sign up{{/link-to}}
    {{#link-to "signin"}}Sign in{{/link-to}}
  {{/if}}
</nav>
