<div class="card">
  {{#link-to "feed" feed}}
    <div class="card-cover">
      {{cover-image image=feed.cover}}
    </div>
    <div class="card-body padded">
      <h1>{{feed.title}}</h1>
    </div>
  {{/link-to}}
</div>
