<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div class="card">
        <div class="card-header">
          <strong>About</strong>
        </div>
        <div class="card-body padded">
          <p>Made by <a href="mailto:ben@nerdyworm.com" class="mailto">ben</a> with love :-)</p>

          <b>Built with</b>
          <ul>
            <li><a href="http://emberjs.com" target="_blank">Ember.js</a></li>
            <li><a href="http://ember-cli.com" target="_blank">Ember Cli</a></li>
            <li><a href="http://golang.org/" target="_blank">Go lang</a></li>
            <li><a href="http://www.postgresql.org/" target="_blank">PostgreSQL</a></li>
            <li><a href="http://sass-lang.com/" target="_blank">Sass</a></li>
          </ul>

          <b>Source Code Available On Github</b>
          <ul>
            <li><a href="https://github.com/nerdyworm/flowfeeds2">github.com/nerdyworm/flowfeeds2</a></li>
          </ul>

          <p style="font-size: 30px"> &#x262e; &hearts; &#x266b; </p>
        </div>
      </div>
    </div>
  </div>
</div>
